### To get the geolocation of given address and MRT station name from OneMap.sg API

In [1]:
import requests
import json
import pandas as pd

In [31]:
df = pd.read_csv('Resale Flat Price.csv')

In [9]:
# create a new column 'address' to search for the geolocation
df['address'] = df.block + ' ' + df.street_name

In [10]:
df.drop(['block', 'street_name'], axis=1, inplace=True)

In [32]:
df.tail(2)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
90118,2021-01,YISHUN,EXECUTIVE,643,YISHUN ST 61,04 TO 06,146.0,Maisonette,1987,65 years 08 months,590000.0
90119,2021-01,YISHUN,EXECUTIVE,724,YISHUN ST 71,10 TO 12,146.0,Maisonette,1986,64 years 07 months,588000.0
90120,2021-01,YISHUN,EXECUTIVE,834,YISHUN ST 81,04 TO 06,142.0,Apartment,1988,66 years,670000.0
90121,2021-01,YISHUN,EXECUTIVE,877,YISHUN ST 81,07 TO 09,142.0,Apartment,1987,65 years 11 months,690000.0
90122,2021-01,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,179.0,Multi Generation,1987,66 years,860000.0

In [11]:
# since 1 address can have several transaction, we can reduce our search data by using .unique()
address = df.address.unique()

In [11]:
len(address)      # we have reduce the data from 90123 to 8958

8958

In [12]:
address

array(['406 ANG MO KIO AVE 10', '108 ANG MO KIO AVE 4',
       '602 ANG MO KIO AVE 5', ..., '216B COMPASSVALE DR',
       '9 JOO SENG RD', '889D WOODLANDS DR 50'], dtype=object)

In [13]:
# get the address geolocation from OneMap.sg API
latitude = []
longtitude = []
for item in address:
    url='https://developers.onemap.sg/commonapi/search?searchVal='+item+'&returnGeom=Y&getAddrDetails=Y&pageNum=1'
    data = requests.get(url).text
    if len(data) != 0: 
        data = json.loads(data) 
        result = data['results']
    if len(result) >= 1:
        latitude.append(result[0]['LATITUDE'])
        longtitude.append(result[0]['LONGTITUDE'])
    else:
        latitude.append(0)
        longtitude.append(0)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
# check if we get all the address geolocation
print('Latitude:', len(latitude), '\nLongtitude:', len(longtitude))

In [19]:
# convert the address geolocation to a dataframe
geolocation = pd.DataFrame({'address':address, 'latitude':latitude, 'longtitude':longtitude})

In [22]:
geolocation.head(2)

                 address          latitude        longtitude
0  406 ANG MO KIO AVE 10  1.36200453938712  103.853879910407
1   108 ANG MO KIO AVE 4  1.37094273993858  103.837974822369
2   602 ANG MO KIO AVE 5  1.38070883044889  103.835368226602
3  465 ANG MO KIO AVE 10  1.36620104082939  103.857200967235
4   601 ANG MO KIO AVE 5  1.38104134784496  103.835131744823

In [31]:
# save the dataframe
geolocation.to_csv('geolocation.csv')

In [33]:
# create a list of MRT station
mrt = [
    'Jurong East MRT Station',
    'Bukit Batok MRT Station',
    'Bukit Gombak MRT Station',
    'Choa Chu Kang MRT Station',
    'Yew Tee MRT Station',
    'Kranji MRT Station',
    'Marsiling MRT Station',
    'Woodlands MRT Station',
    'Admiralty MRT Station',
    'Sembawang MRT Station',
    'Canberra MRT Station',
    'Yishun MRT Station',
    'Khatib MRT Station',
    'Yio Chu Kang MRT Station',
    'Ang Mo Kio MRT Station',
    'Bishan MRT Station',
    'Braddell MRT Station',
    'Toa Payoh MRT Station',
    'Novena MRT Station',
    'Newton MRT Station',
    'Orchard MRT Station',
    'Somerset MRT Station',
    'Dhoby Ghaut MRT Station',
    'City Hall MRT Station',
    'Raffles Place MRT Station',
    'Marina Bay MRT Station',
    'Marina South Pier MRT Station',
    'Pasir Ris MRT Station',
    'Tampines MRT Station',
    'Simei MRT Station',
    'Tanah Merah MRT Station',
    'Bedok MRT Station',
    'Kembangan MRT Station',
    'Eunos MRT Station',
    'Paya Lebar MRT Station',
    'Aljunied MRT Station',
    'Kallang MRT Station',
    'Lavender MRT Station',
    'Bugis MRT Station',
    'Tanjong Pagar MRT Station',
    'Outram Park MRT Station',
    'Tiong Bahru MRT Station',
    'Redhill MRT Station',
    'Queenstown MRT Station',
    'Commonwealth MRT Station',
    'Buona Vista MRT Station',
    'Dover MRT Station',
    'Clementi MRT Station',
    'Chinese Garden MRT Station',
    'Lakeside MRT Station',
    'Boon Lay MRT Station',
    'Pioneer MRT Station',
    'Joo Koon MRT Station',
    'Gul Circle MRT Station',
    'Tuas Crescent MRT Station',
    'Tuas West Road MRT Station',
    'Tuas Link MRT Station',
    'Expo MRT Station',
    'Changi Airport MRT Station',
    'HarbourFront MRT Station',
    'Chinatown MRT Station',
    'Clarke Quay MRT Station',
    'Little India MRT Station',
    'Farrer Park MRT Station',
    'Boon Keng MRT Station',
    'Potong Pasir MRT Station',
    'Woodleigh MRT Station',
    'Serangoon MRT Station',
    'Kovan MRT Station',
    'Hougang MRT Station',
    'Buangkok MRT Station',
    'Sengkang MRT Station',
    'Punggol MRT Station',
    'Bras Basah MRT Station',
    'Esplanade MRT Station',
    'Promenade MRT Station',
    'Nicoll Highway MRT Station',
    'Stadium MRT Station',
    'Mountbatten MRT Station',
    'Dakota MRT Station',
    'MacPherson MRT Station',
    'Tai Seng MRT Station',
    'Bartley MRT Station',
    'Lorong Chuan MRT Station',
    'Marymount MRT Station',
    'Caldecott MRT Station',
    'Botanic Gardens MRT Station',
    'Farrer Road MRT Station',
    'Holland Village MRT Station',
    'one-north MRT Station',
    'Kent Ridge MRT Station',
    'Haw Par Villa MRT Station',
    'Pasir Panjang MRT Station',
    'Labrador Park MRT Station',
    'Telok Blangah MRT Station',
    'Bayfront MRT Station',
    'Bukit Panjang MRT Station',
    'Cashew MRT Station',
    'Hillview MRT Station',
    'Beauty World MRT Station',
    'King Albert Park MRT Station',
    'Sixth Avenue MRT Station',
    'Tan Kah Kee MRT Station',
    'Stevens MRT Station',
    'Rochor MRT Station',
    'Downtown MRT Station',
    'Telok Ayer MRT Station',
    'Fort Canning MRT Station',
    'Bencoolen MRT Station',
    'Jalan Besar MRT Station',
    'Bendemeer MRT Station',
    'Geylang Bahru MRT Station',
    'Mattar MRT Station',
    'Ubi MRT Station',
    'Kaki Bukit MRT Station',
    'Bedok North MRT Station',
    'Bedok Reservoir MRT Station',
    'Tampines West MRT Station',
    'Tampines East MRT Station',
    'Upper Changi MRT Station'
]

In [34]:
# get the MRT station geolocation from OneMap.sg API
latitude = []
longtitude = []
for item in mrt:
    url='https://developers.onemap.sg/commonapi/search?searchVal='+item+'&returnGeom=Y&getAddrDetails=Y&pageNum=1'
    data = requests.get(url).text 
    if len(data) != 0:
        data = json.loads(data) 
        result = data['results']
    if len(result) >= 1:
        latitude.append(result[0]['LATITUDE'])
        longtitude.append(result[0]['LONGTITUDE'])
    else:
        latitude.append(0)
        longtitude.append(0)
len(mrt)

In [ ]:
# check if we get all the MRT station geolocation
print('Latitude:', len(latitude), '\nLongtitude:', len(longtitude))

In [40]:
# convert the mrt geolocation to a dataframe
mrt_station = pd.DataFrame({'mrt_station':mrt, 'latitude':latitude, 'longtitude':longtitude})

In [41]:
mrt_station.head(2)

                 mrt_station          latitude        longtitude
0    Jurong East MRT Station  1.33357652289465  103.742292350324
1    Bukit Batok MRT Station  1.34842377665437  103.749126361849
2   Bukit Gombak MRT Station  1.35930937732431  103.751948590322
3  Choa Chu Kang MRT Station  1.38575650064861  103.744509334035
4        Yew Tee MRT Station  1.39753506936297  103.747405150236

In [44]:
# save the dataframe
mrt_station.to_csv('mrt_station.csv')